<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">
    <title>Bulk Worksheet Search</title>
    <link rel="stylesheet" href="css/worksheet.css">
    <link rel="stylesheet" href="css/model.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<header>
    <a href="/">Wisteria</a>
</header>
<main>
    <section class="info">
        <h2>Bulk Worksheet Search</h2>
    </section>
    <section>
        <form method="post" action="/specific" id="form">
            <div class="search" id="search">
                <div class="form-element">
                    <label for="from">From</label>
                    <input minlength="10" maxlength="10" type="text" id="from" name="from"
                           placeholder="Enter Roll Number" required>
                </div>
                <div class="form-element">
                    <label for="to">To</label>
                    <input minlength="10" maxlength="10" type="text" id="to" name="to"
                           placeholder="Enter Roll Number" required>
                </div>
                <div class="form-element">
                    <button id="apply" type="button">Apply</button>
                </div>
            </div>
            <div id="details">
                <div class="form-element">
                    <label for="sem">Semester</label>
                    <select id="sem" name="sem" required>
                        <option disabled selected>Not Available</option>
                    </select>
                </div>
                <div class="form-element">
                    <label for="sub">Subject</label>
                    <select id="sub" name="sub" required>
                        <option disabled selected>Not Available</option>
                    </select>
                </div>
                <div class="form-element">
                    <label for="week">Week Number</label>
                    <input min="1" value="1" max="15" type="number" id="week" name="week"
                           placeholder="Enter Week Number"
                           required>
                </div>
            </div>
            <div class="form-element submit-btn">
                <button id="submit" type="submit">Search</button>
            </div>
        </form>
    </section>
    <section class="btn">
        <a href="/">Homepage</a>
        <a href="/specific">Specific Worksheet Search</a>
    </section>
</main>
<%- include('model.ejs') %>
<footer>
    <p>&copy; <%= year %> Arorium. All rights reserved.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="js/bulk.js"></script>
</body>
</html>
