<div class="model">
    <div class="model-content">
        <div class="model-header">
            <div class="model-header-title">
                <h3>Result</h3>
            </div>
        </div>
        <div class="status">
            <p id="no">
            </p>
            <p id="upload"></p>
            <p id="percent"></p>
        </div>
        <table id="myTable" class="display striped ">
            <thead id="table-header">
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>